@keyframes brandAnimation {
  0% {
    width: 10px; }
  15% {
    width: 20px; }
  30% {
    width: 10px; }
  55% {
    width: 40px; }
  75% {
    width: 10px; }
  100% {
    width: 10px; } }

/* social icon */
.social-media svg {
  width: 50px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.social-media .icon {
  fill: #ffffff;
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 10px; }

.social-media .oval {
  fill: rgba(0, 0, 0, 0.2); }

.social-media path {
  transition: 1s all;
  -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }

.social-media svg:hover .oval {
  -ms-transform: scale(0);
      transform: scale(0);
  opacity: 0; }

.social-media svg:hover .icon {
  -ms-transform: scale(1.8);
      transform: scale(1.8);
  stroke-width: 0px; }

.social-media .facebook:hover .icon {
  fill: #3b5999; }

.social-media .twitter:hover .icon {
  fill: #55acee; }

.social-media .google:hover .icon {
  fill: #dd4b39; }

.social-media .google:hover .plus {
  -ms-transform: scale(1.8) translateX(40px);
      transform: scale(1.8) translateX(40px); }

.social-media .linkedin:hover .icon {
  fill: #0077B5; }

.social-media .linkedin:hover .dot {
  -ms-transform: scale(1.8) translateY(-40px);
      transform: scale(1.8) translateY(-40px); }

.social-media .linkedin:hover .n {
  -ms-transform: scale(1.8) translateX(40px);
      transform: scale(1.8) translateX(40px); }

.social-media .youtube:hover .icon {
  fill: #cd201f; }

.socialOne, .socialTwo {
  display: inline-block; }

/* HAMBURGER */
.navbar-toggle {
  overflow: hidden; }
  .navbar-toggle .icon-bar {
    transition: opacity, transform;
    transition-duration: 600ms; }

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  -ms-transform: translateY(6px) rotate(45deg);
      transform: translateY(6px) rotate(45deg); }

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  opacity: 0;
  -ms-transform: translateX(-100%);
      transform: translateX(-100%); }

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(4) {
  -ms-transform: translateY(-6px) rotate(-45deg);
      transform: translateY(-6px) rotate(-45deg); }

.navbar-toggle .icon-bar {
  background-color: #ffffff !important; }

/* hamburger end */
@keyframes brandAnimation {
  0% {
    width: 10px; }
  15% {
    width: 20px; }
  30% {
    width: 10px; }
  55% {
    width: 40px; }
  75% {
    width: 10px; }
  100% {
    width: 10px; } }

.nav li a {
  font-size: 16px;
  display: inline-block; }

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background: none;
  background-color: transparent; }

.navbar-header a {
  font-weight: lighter;
  font-size: 28px;
  color: #e39e1b; }

.navbar-header a::before {
  content: "";
  height: 1px;
  border-radius: 2px;
  background-color: #e39e1b;
  position: absolute;
  -ms-transform: translateY(25px);
      transform: translateY(25px);
  animation-name: brandAnimation;
  animation-duration: 15s;
  animation-iteration-count: infinite; }

@media (min-width: 768px) {
  .navbar-nav > li {
    float: none; }
  .navbar-nav {
    float: none; } }

@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "TitilliumWeb-Light";
  src: url("../fonts/TitilliumWeb-Light.ttf") format("truetype"); }

.flex-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

footer .flex-container {
  -ms-flex-direction: row;
      flex-direction: row; }
  footer .flex-container .flex-item--50 {
    width: 50%; }

@media (min-width: 768px) {
  .flex-container {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center; }
    .flex-container .order1 {
      -ms-flex-order: 1;
          order: 1; }
    .flex-container .order2 {
      -ms-flex-order: 2;
          order: 2; }
    .flex-container .flex-item--40 {
      box-sizing: border-box;
      width: 40%;
      padding: 30px; }
    .flex-container .flex-item--50 {
      box-sizing: border-box;
      width: 50%;
      padding: 30px; }
    .flex-container .flex-item--60 {
      box-sizing: border-box;
      width: 60%;
      padding: 30px; } }

body, html {
  height: 100%;
  font-family: "TitilliumWeb-Regular", "Arial";
  color: #ffffff;
  letter-spacing: 2px; }

body {
  background-color: #000000; }

html {
  background-color: #000000; }

h1 {
  font-weight: bold; }

a {
  color: #ffffff;
  text-decoration: none; }
  a:focus, a:hover {
    color: #e39e1b;
    outline: none; }

.underline {
  text-align: center; }

.gold {
  color: #e39e1b; }

.white {
  color: #ffffff; }

section {
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 19;
  position: relative; }
  section .underline:hover.underline::after {
    width: 100px;
    margin-left: -50px; }
  section .underline:hover.underline::before {
    width: 50px;
    margin-left: -25px; }
  section .underline::after {
    transition: 1s all;
    content: "";
    height: 2px;
    width: 80px;
    position: absolute;
    background-color: #e39e1b;
    left: 50%;
    margin-left: -40px;
    -ms-transform: translateY(40px);
        transform: translateY(40px); }
  section .underline::before {
    transition: 1s all;
    content: "";
    height: 2px;
    width: 40px;
    position: absolute;
    background-color: #e39e1b;
    left: 50%;
    margin-left: -20px;
    -ms-transform: translateY(45px);
        transform: translateY(45px); }

.bg-white {
  background-color: #ffffff;
  color: #313131; }
  .bg-white a {
    color: #313131; }

.hr {
  padding: 1px; }
  .hr hr {
    border-top: 1px solid #e39e1b; }

hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0; }

.img-center {
  margin-left: auto;
  margin-right: auto; }

.img-margin-vertical {
  margin-top: 30px;
  margin-bottom: 30px; }

@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "TitilliumWeb-Light";
  src: url("../fonts/TitilliumWeb-Light.ttf") format("truetype"); }

#header {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 70% !important;
  position: relative;
  z-index: 20; }
  #header .brand-text {
    position: absolute;
    width: 100%;
    font-family: "TitilliumWeb-Light";
    top: 55%;
    text-align: center;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px 18px rgba(0, 0, 0, 0.5);
    padding: 15px; }
  #header h1, #header p {
    margin: 5px; }
  #header h1 {
    font-size: 40px;
    letter-spacing: 15px; }
  #header p {
    margin-top: 12px;
    font-size: 15px;
    letter-spacing: 8px;
    text-align: center; }

@media (min-width: 768px) {
  #header h1, #header p {
    margin: 5px; }
  #header h1 {
    font-size: 55px;
    letter-spacing: 20px; }
  #header p {
    margin-top: 12px;
    font-size: 20px;
    letter-spacing: 8px; } }

#about p {
  text-align: justify;
  font-size: 15px; }

#about img {
  box-shadow: 0 0 12px 0px #737373; }

#photo {
  box-sizing: border-box;
  width: 100%;
  height: 400px; }
  #photo .parallax-window {
    height: 400px;
    width: 100%;
    background: transparent; }
  #photo .caption {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.6);
    padding: 0 5px;
    z-index: 30; }

@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "TitilliumWeb-Light";
  src: url("../fonts/TitilliumWeb-Light.ttf") format("truetype"); }

#intunity-team .city {
  padding: 20px 20px; }

#intunity-team .city--team {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

#intunity-team .person {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -ms-flex-align: center;
      align-items: center; }

#intunity-team .person--photo {
  width: 30%;
  transition: 1s all; }
  #intunity-team .person--photo img {
    border-radius: 50px;
    margin: auto;
    box-shadow: 0 0 6px 0px #878787; }
  #intunity-team .person--photo:hover {
    -ms-transform: scale(0.98);
        transform: scale(0.98); }

#intunity-team .person--name {
  box-sizing: border-box;
  width: 70%;
  padding-left: 15px; }

#intunity-team h5 {
  cursor: pointer; }
  #intunity-team h5:hover {
    text-decoration: underline; }

#intunity-team .person-text {
  overflow: hidden;
  transition: 2s opacity;
  opacity: 0; }
  #intunity-team .person-text img {
    float: none;
    padding-left: 15px;
    padding-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto; }

#intunity-team .person-closed {
  opacity: 0;
  height: 0;
  width: 0; }

#intunity-team .person-opened {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  opacity: 1; }
  #intunity-team .person-opened img {
    transition: 1s all; }
  #intunity-team .person-opened img:hover {
    -ms-transform: scale(1.01);
        transform: scale(1.01); }

@media (min-width: 768px) {
  #intunity-team .city {
    padding: 20px 0; }
  #intunity-team .city--team {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  #intunity-team .person {
    width: 50%;
    margin-left: 0;
    margin-right: 0; }
  #intunity-team .person--photo {
    width: 25%; }
  #intunity-team .person--name {
    width: 75%; }
  #intunity-team .person-opened {
    width: 100%;
    margin-left: auto; }
  #intunity-team .person-text img {
    float: right;
    padding-left: 15px;
    padding-bottom: 10px;
    display: block;
    margin-left: 0;
    margin-right: 0; } }

#contact h1 {
  padding-bottom: 50px; }

#contact h2 {
  font-weight: bold; }

#contact h2, #contact h3, #contact h4, #contact p {
  text-align: center; }

#contact p {
  font-size: 20px; }

@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "TitilliumWeb-Light";
  src: url("../fonts/TitilliumWeb-Light.ttf") format("truetype"); }

footer {
  bottom: 0;
  height: 85px;
  width: 100%;
  z-index: 10;
  margin-top: -50px;
  background-color: #000000;
  z-index: -200;
  position: fixed;
  padding-top: 12px; }
  footer .footer-copyright {
    text-align: right; }
    footer .footer-copyright p {
      margin: 0;
      font-size: 10px; }
  footer .footer-contact p {
    font-family: "TitilliumWeb-Light";
    font-size: 10px;
    margin-bottom: 0; }
  footer .flex-container .flex-item--50 {
    padding: 0; }

section:last-of-type {
  margin-bottom: 85px; }

#cookie-bar {
  background: rgba(0, 0, 0, 0.78) !important; }

#cookie-bar p {
  font-family: "TitilliumWeb-Regular", "Arial";
  font-size: 12px;
  letter-spacing: 1px;
  color: #e39e1b !important; }

#cookie-bar-button {
  background-color: transparent !important;
  color: #e39e1b !important;
  text-decoration: underline !important;
  font-weight: normal !important;
  border-bottom: none !important;
  border-radius: 0 !important; }
