@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url('../fonts/TitilliumWeb-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "TitilliumWeb-Light";
  src: url('../fonts/TitilliumWeb-Light.ttf') format("truetype");
}
