@import "settings";
@import "fonts";

$footerHeight: 60px; // IMPORTANT

footer {
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    height: $footerHeight;
    width: 100%;
    z-index: 10;
  .footer-copyright {
    text-align: right;
    font-size: 10px;
    p {
      margin: 0;
    }
  }
  .footer-contact {
    p {
      font-family: "TitilliumWeb-Light";
      font-size: 15px;
      margin-bottom: 0;
    }
  }
}
section:last-of-type{
  margin-bottom: $footerHeight;
}
