@import "settings";
@import "fonts";

footer {
    padding: 15px 0;
  .footer-copyright {
    text-align: right;
    font-size: 10px;
    p {
      margin: 0;
    }
  }
  .footer-contact {
    p {
      font-family: "TitilliumWeb-Light";
      font-size: 15px;
      margin-bottom: 0;
    }
  }
}
