@import "settings";
@import "animation";
@import "socialicons";
@import "hamburger";
@import "menu";
@import "fonts";
@import "flex";

body, html {
  height: 100%;
  font-family: $font;
  color: $white;
  letter-spacing:2px;
}
body{
  background-color: #000000;
}
html {
  background-color: #000000;
}
h1{
  font-weight: bold;
}

a {
  color: $white;
  text-decoration: none;

  &:focus, &:hover {
    color: $gold;
    outline: none;
  }
}

 .underline{
    text-align: center;
  } 

.gold {
  color: $gold;
}
.white {
  color: $white;
}

section {
  $padding: 80px;
  padding-top: $padding;
  padding-bottom: $padding;
  z-index: 19;
  position: relative;

  .underline:hover.underline::after{
    $width: 100px;
    width: $width;
    margin-left: -$width/2;
  }  
  .underline:hover.underline::before{
    $width: 50px;
    width: $width;
    margin-left: -$width/2;
  }

  .underline::after{
    transition: 1s all;
    $width: 80px;
    content: "";
    height: 2px;
    width: $width;
    position: absolute;
    background-color: $gold;
    left: 50%;
    margin-left: -$width/2;
    transform: translateY(40px);
  }
  .underline::before{
    transition: 1s all;
    $width: 40px;
    content: "";
    height: 2px;
    width: $width;
    position: absolute;
    background-color: $gold;
    left: 50%;
    margin-left: -$width/2;
    transform: translateY(45px);
  }
}

.bg-white {
  background-color: $white;
  color: $black;
  a {
    color: $black;
}
}
.hr {
  padding: 1px;
  hr{
    border-top: 1px solid $gold;
  }
}
hr{
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

.img-center{
  margin-left: auto;
  margin-right: auto;
}

.img-margin-vertical{
  margin-top: 30px;
  margin-bottom: 30px;
}






// IMPORT SECTIONS
@import "header";
@import "about";
@import "photo";
@import "intunity-team";
@import "contact";
@import "footer";

// IMPORT MEDIA
@import "media";

// IMPORT COOKIES
@import "cookies";  
