@import "settings";
@import "animation";
@import "socialicons";
@import "hamburger";
@import "menu";
@import "fonts";

body, html {
  height: 100%;
  font-family: $font;
  color: $white;
  letter-spacing:2px;
}

a {
  color: $white;
  text-decoration: none;

  &:focus, &:hover {
    color: $gold;
    outline: none;
  }
}

 .underline{
    text-align: center;
  } 

.gold {
  color: $gold;
}
.white {
  color: $white;
}

section {
  $padding: 80px;
  padding-top: $padding;
  padding-bottom: $padding;
  z-index: 19;
  position: relative;

  .underline::after{
    $width: 80px;
    content: "";
    height: 2px;
    width: $width;
    position: absolute;
    background-color: $gold;
    left: 50%;
    margin-left: -$width/2;
    transform: translateY(50px);
  }
  .underline::before{
    $width: 40px;
    content: "";
    height: 2px;
    width: $width;
    position: absolute;
    background-color: $gold;
    left: 50%;
    margin-left: -$width/2;
    transform: translateY(55px);
  }
}

.bg-white {
  background-color: $white;
  color: $black;
  a {
    color: $black;
}
}
.hr {
  padding: 1px;
  hr{
    border-top: 1px solid $gold;
  }
}

.img-center{
  margin-left: auto;
  margin-right: auto;
}

.img-margin-vertical{
  margin-top: 30px;
  margin-bottom: 30px;
}
.parallax-window {
  min-height: 400px;
  background: transparent;
}
.parallax-window2 {
  min-height: 400px;
  background: transparent;
}




// IMPORT SECTIONS
@import "header";
@import "about";
@import "photo";
@import "intunity-team";
@import "contact";
@import "footer";

// IMPORT MEDIA
@import "media";

// IMPORT COOKIES
@import "cookies";  
